@media(max-width:480px) {

    /* html {
        font-size: 50%;
    } */
    .container {
        max-width: 96% !important;
    }

    .section-hero {
        border-top: 9px solid #3B0002;
    }

    .heading-primary {
        font-size: 28px;
    }

    .book {
        width: 100%;
    }

    .description {
        font-size: 19px;
    }

    .heading-tertiary {
        font-size: 23px;
    }

    .point-box {
        display: flex;
        gap: 1.1rem;
    }

    .point-headline {
        margin-bottom: 0;
    }

    /* .form {
        grid-template-columns: 1fr;
    }

    .form div:first-child {
        grid-column: 1/7;
    }

    .form div {
        grid-column: span 6;
    }

    .form div:nth-child(9) {
        grid-column: span 6;
    }

    .form div:nth-child(10) {
        grid-column: span 6;
    }

    .form div:nth-child(11) {
        grid-column: span 6;
    }

    .form div:nth-child(12) {
        grid-column: span 6;
    }

    .form-btn {
        grid-column: span 6;
    }


*/
    .section-form {
        padding: 0 1rem
    }

    .form-box {
        padding: 20px 30px 20px 20px;
    }

    .heading-premium {
        font-size: 2.2rem;
        line-height: 1.2;
    }

    .list {
        grid-template-columns: 1fr;
        gap: 1.2rem;
    }

    .list-box {
        padding: 3.2rem 4rem;
    }

    .heading-secondary {
        font-size: 25px;
        padding: 0 1.6rem;
        margin: 4rem 0 1.6rem;
    }


    .review-image-box {
        display: grid;
        grid-template-columns: 1fr;
    }

    .review-image {
        justify-self: center;
        max-width: 70%
    }


    /* .section-order {
        margin-top: 2.4rem;
    } */


    .free-bonus {
        max-width: 93%;
        margin: 1.6rem 0;
        /* margin: 0 1.5rem; */
    }

    .bouns-list {
        margin: 2.4rem 2.4rem 2.4rem 2.4rem;
    }



    .order-book {
        width: 80%;
    }

    .heading-bonus {
        font-size: 22px;
        padding: 0;
        margin: 10px 0 10px 0;

    }

    .footer-links {
        display: inline-block;
        text-align: center;
    }

    .footer-links li {
        display: inline-block;
        margin-right: 20px;
    }

    .radio-1 .col-lg-6 {
        padding-right: 15px;
        padding-left: 15px;
    }

    .dmy-row .col-4 {
        padding-right: 0px;
    }

    .time-row .col-6 {
        padding-right: 0px;
    }

    .birth-row .col-6 {
        padding-right: 0px;
    }

    .lang-row .col-6 {
        padding-right: 0px;
    }

    .email-row .col-12 {
        padding-right: 0px;
    }

    .name-row .col-12 {
        padding-right: 0px;
    }

    .gender-col {
        padding-right: 0px !important;
        max-width: 29.666667% !important;
    }

    .gender-col-2 {
        padding-right: 0;
        padding-left: 0;
    }

    .am-col-1 {
        max-width: 26% !important;
        padding-right: 0px !important;
    }

    .pm-col-2 {
        max-width: 26% !important;
        padding-left: 4px !important;

    }

    #about img {
        width: 370px;
    }

    .abt-info {
        margin-left: 0;
        width: 100%;
        margin-top: 0;
        padding: 15px;
    }

    #about h2 {
        text-align: center;
        margin-left: 0;
        font-size: 22px;
    }

    .points {
        padding: 0px 20px 20px 20px;
    }

    .country-code {
        padding-left: 3px;
        padding-right: 2px;
    }

    .number-wraper input {
        display: inline-block;
        border: 1px solid #dee2e6;
        border-left: 0
    }

    .form-btn-top {
        margin-top: 20px;
    }

    .price h3 {
        font-size: 30px;
        font-weight: 800;
    }

    .kundali-second-page .make-my-btn {
        padding: 20px;
    }

    .app-page .heading-primary {
        font-size: 30px;
    }

    .app-video {
        width: 100%;
        padding-bottom: 50% !important;
    }

    .app-page .make-my-btn {
        padding: 20px 10px 20px 12px;
    }

    .thank-you-box .order-details-table1 td {
        display: flex;
        column-gap: 8px;
    }


    .persistent-cta-mobile {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }

    #kiwi-big-iframe-wrapper {
        display: inline-block;
    }
}