@media(max-width:480px) {
    /* html {
        font-size: 50%;
    } */
    .container
    {
        max-width:96% !important;
    }

    .section-hero {
        border-top: 9px solid #3B0002;
    }

    .heading-primary {
        font-size: 2.7rem;
    }

    .book {
        width: 100%;
    }

    .description {
        font-size: 2rem;
    }

    .heading-tertiary {
        font-size: 2.4rem;
    }

   /* .form {
        grid-template-columns: 1fr;
    }

    .form div:first-child {
        grid-column: 1/7;
    }

    .form div {
        grid-column: span 6;
    }

    .form div:nth-child(9) {
        grid-column: span 6;
    }

    .form div:nth-child(10) {
        grid-column: span 6;
    }

    .form div:nth-child(11) {
        grid-column: span 6;
    }

    .form div:nth-child(12) {
        grid-column: span 6;
    }

    .form-btn {
        grid-column: span 6;
    }


*/
    .section-form {
        padding: 0 1rem
    }

    .form-box {
        padding: 3.2rem;
    }

    .heading-premium {
        font-size: 2.2rem;
        line-height: 1.2;
    }

    .list {
        grid-template-columns: 1fr;
        gap: 1.2rem;
    }

    .list-box {
        padding: 3.2rem 4rem;
    }

    .heading-secondary {
        font-size: 2.2rem;
        padding: 0 1.6rem;
        margin: 4rem 0 1.6rem;
    }


    .review-image-box {
        display: grid;
        grid-template-columns: 1fr;
    }

    .review-image {
        justify-self: center;
        max-width: 70%
    }


    /* .section-order {
        margin-top: 2.4rem;
    } */


    .free-bonus {
        max-width: 93%;
        margin: 1.6rem 0;
        /* margin: 0 1.5rem; */
    }

    .bouns-list {
        margin: 2.4rem 2.4rem 2.4rem 2.4rem;
    }

    .heading-bonus {
        padding: 0 1.2rem;
    }

    .order-book {
        width: 80%;
    }

    .heading-bonus {
        font-size: 2.2rem;
    }

    .footer-links {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .footer-links li {
        justify-self: center;
    }
 .radio-1 .col-lg-6 {
    padding-right: 15px;
    padding-left:15px;
}

}