/* - Font sizes (px) 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36
/ 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    /* font-size: 10px; */
    /* 10px / 16px = 0.625 = 62.5% */
    /* Percentage of user's browser font-size setting */
    font-size: 62.5%;
}


body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1;
    font-weight: 400;
    color: #333;
}

/* ***************
****Section Hero****
*************** */

.section-hero {
    padding-top: 2.4rem;
    border-top: 7px solid #3B0002;
}

.hero-box {
    max-width: 120rem;
    padding: 0 3.2rem;
    margin: 0 auto;
    text-align: center;
}


.heading-primary {
    font-size: 4.2rem;
    font-weight: 800;
    color: #3B0002;
    margin-bottom: 1.6rem;
}

.heading-primary span {
    color: #E8911B;
}

.description {
    display: inline;
    color: #3B0002;
    background-color: #F9E341;
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 1.5;
}

.book {
    width: 40%;
    margin: 1.8rem 0 1.2rem;
}



/* ***************
****Section Form****
*************** */

.container {
    max-width:62%;
    margin: 0 auto;

}

.form-container
{
    max-width: 60% !important;
    margin: 0 auto
}
.section-form {
    margin-bottom: 4.8rem;
    /*background-color:hsla(0,100%,50%,1);
background-image:
radial-gradient(at 40% 20%, hsla(28,100%,74%,1) 0px, transparent 50%),
radial-gradient(at 80% 0%, hsla(189,100%,56%,1) 0px, transparent 50%),
radial-gradient(at 0% 50%, hsla(355,100%,93%,1) 0px, transparent 50%),
radial-gradient(at 80% 50%, hsla(340,100%,76%,1) 0px, transparent 50%),
radial-gradient(at 0% 100%, hsla(22,100%,77%,1) 0px, transparent 50%),
radial-gradient(at 80% 100%, hsla(242,100%,70%,1) 0px, transparent 50%),
radial-gradient(at 0% 0%, hsla(343,100%,76%,1) 0px, transparent 50%);*/
    padding:0px;
}

.form-box {
    padding:30px;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    background: #fff;
    width: 100%;
}


.form-box label {
    font-weight: 600 !important;
    font-size: 14px !important;
    margin-bottom: 7px;
    display: inline-block;
}


.form-box label abbr {
    color: red;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 8px);
    padding: 0.375rem 0.75rem;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 6px;
}

.form-control:focus-visible {
    outline-color: #E8911B;
}

.heading-tertiary {
    text-align: center;
    font-size: 2.6rem;
    font-weight: 800;
    line-height: 1.5;
    color: #3B0002;
    margin-bottom: 3.2rem;
}

.heading-tertiary span {
    color: #E8911B;
}

/*.form {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 1.6rem;

}

.form div:first-child {
    grid-column: 1/5;
}

.form div {
    grid-column: span 2;
}

.form div:nth-child(9) {
    grid-column: span 3;
}

.form div:nth-child(10) {
    grid-column: span 3;
}

.form div:nth-child(11) {
    grid-column: span 3;
}

.form div:nth-child(12) {
    grid-column: span 3;
}

.form div:nth-child(13) {
    grid-column: span 6;
}

.form label {
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: .8rem;
}
*/
/*.form input,
.form select {
    width: 100%;
    font-size: 1.6rem;
    padding: 1.6rem .8rem;
    border: 1px solid #ddd;
}*/

.form .mb-10 {
    margin-bottom: 15px;
}



.form-btn {
    font-size: 1.8rem;
    font-weight: 600;
    border-radius: 4px;
    padding: 1.6rem .5rem;
    background-color: #E8911B;
    color: #fff;
    border: none;
    transition: 0.3s;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    width: 100%;
}

.form-btn:hover {
    background-color: #db8b1a;
    cursor: pointer;
}

.radio {
    display: inline-block;
    /*margin-right:10px;*/
    /*margin-top: 10px;*/
    background: #db8b1a;
    padding: 10px 10px 7px 10px;
    border-radius: 5px;
    border: 1px solid #3B0002;
}

.radio label {
    font-weight: normal !important;
    margin-bottom: 0px !important;
    color: #3B0002;
}

.radio input[type=radio] {
    position: absolute;
    opacity: 0;
}

.radio input[type=radio]+.radio-label:before {
    content: "";
    background: #f4f4f4;
    border-radius: 100%;
    border: 1px solid #b4b4b4;
    display: inline-block;
    width: 1em;
    height: 1em;
    position: relative;
    top: -0.2em;
    margin-right: 5px;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    transition: all 250ms ease;
}

.radio input[type=radio]:checked+.radio-label:before {
    background-color: #E8911B;
    box-shadow: inset 0 0 0 4px #f4f4f4;
    border-color: #3B0002;
}

.radio input[type=radio]:focus+.radio-label:before {
    outline: none;
    border-color: #3B0002;
}

.radio input[type=radio]:disabled+.radio-label:before {
    box-shadow: inset 0 0 0 4px #f4f4f4;
    border-color: #E8911B;
    background: #E8911B;
}

.radio input[type=radio]+.radio-label:empty:before {
    margin-right: 0;
}

/*.number span {
        font-size: 14px;
    padding: 10px;
    border: 1px solid #ced4da;
    border-right: 0;
    border-radius: 6px;
}
*/


/* input[type="radio"]:checked+label {
    background-color: #3B0002;
} */



/* ***************
****Section janam kundli****
*************** */

.video-container {
    position: relative;
    padding-bottom: 55%;
    height: 0;
    overflow: hidden;

}

.video-container-gap {
    padding: 0 1rem;
}

.janam-kundli {
    margin-bottom: 4.8rem;
}

.all-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.make-my-btn:link,
.make-my-btn:visited {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 1.6rem;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.5;
    background-color:#61ce70;
    color: #fff;
    padding: 2rem 4rem;
    border-radius: 5px;
    transition: 0.3s;
}

.make-my-btn:hover,
.make-my-btn:active {
    background-color: #db8b1a;
}

.btn-description {
    font-size: 1.2rem;
    margin-top: .8rem;
}

/* ***************
****Section premium****
*************** */

.premium {
    padding: 0 1rem;
}

.heading-premium {
    font-size: 2.3rem;
    font-weight: 700;
    color: #3B0002;
    margin-bottom: 3.2rem;
    text-align: center;
    line-height: 1.5;
}

.points {
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    margin-bottom: 3.2rem;
}

.point-box {
    display: flex;
    gap: 2rem;
}

.point-headline {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.5;
    color: #3B0002;
    margin-bottom: .9rem;
}

.point-description {
    font-size: 1.5rem;
    line-height: 1.5;
    color: #7a7a7a;
}

.point-box i {
    font-size: 20px;
    color: #00B853;
    font-weight: bold;
}


.list-box {
    max-width: 78rem;
    background-image: linear-gradient(180deg, hsl(35, 82%, 51%), hsl(358, 100%, 12%));
    background-position: center;
    background-size: cover;
    padding: 3.2rem 12rem;
    border-radius: 20px;
}


.heading-list {
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 3.2rem;
    text-align: center;
    color: #fff;
    line-height: 1.2;
}


.list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 9.6rem;
}


.list ul {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.list li {
    font-size: 1.5rem;
    color: #fff;
}



/* ***************
****Section Clients****
*************** */



.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.heading-secondary {
    /* max-width: 65rem; */
    font-size: 3.2rem;
    font-weight: 800;
    line-height: 1.2;
    text-align: center;
    margin: 4.8rem 0 2.4rem;
    color: #3B0002;
}

.gap {
    margin-bottom: 1.6rem;
}

.review-image-box {
    display: flex;
    justify-content: center;
    gap: 3.2rem;
}

.review-image {
    max-width: 33%
}



/* ***************
****Section Order****
*************** */


.order-box {
    max-width: 90rem;
    margin: 0 auto;
}

.heading-secondary span {
    color: #f54a4d;
}


.free-bonus {
    border: 1px solid #f54a4d;
    max-width: 65%;
    margin: 2.4rem 0 2.4rem;
}

.free-bonus p:first-child {
    width: 100%;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 700;
    background-color:#f54a4d;
    color: #fff;
    padding: 2.4rem 0;
}

.heading-bonus {
    text-align: center;
    font-size: 2.4rem;
    font-weight: 800;
    line-height: 1.5;
    color: #3B0002;
    margin: 2.4rem 0 3.6rem;
    padding: 0 2.4rem;
}

.heading-bonus span {
    color: #f54a4d;
}

.bouns-list {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    list-style: none;
    margin: 2.4rem 4.8rem 4.8rem 4.8rem;
}

.bouns-list li {
    display: flex;
    align-items: center;
    gap: .8rem;
    font-size: 1.6rem;
    line-height: 20px;
}


.bouns-list i {
    color: #00B853;

}

.order-book {
    width: 75%;
}




/* ***************
****Section footer****
*************** */

.footer {
    background-color: #3B0002;
    margin-top: 4.8rem;
}

.footer-box {
    max-width: 118rem;
    margin: 0 auto;
    padding: 3.2rem;
}


.footer-description {
    text-align: center;
    font-size: 1.4rem;
    color: #fff;
    line-height: 1.5;
    margin-bottom: 2.4rem;
}

.address {
    text-align: center;
    font-size: 1.4rem;
    color: #fff;
    line-height: 1.5;
    margin-bottom: 2.4rem;
}

.contact {
    text-align: center;
    font-size: 1.4rem;
    color: #fff;
    line-height: 1.5;
    margin-bottom: 3.2rem;
}

.footer-links {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1.2rem;
    margin-bottom: 2.4rem;
}

.footer-links li a:link,
.footer-links li a:visited {
    text-decoration: none;
    font-size: 1.4rem;
    color: #fff;
    line-height: 1.5;
    transition: 0.3s;
}

.footer-links li a:hover,
.footer-links li a:active {
    color: rgb(212, 212, 212);
}

.copyright {
    text-align: center;
    font-size: 1.4rem;
    color: #fff;
    line-height: 1.5;
}



/*Form Restructure*/

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.no-gutters>.col,
.no-gutters>[class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl,
.col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}

.col-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
}

.col-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
}

.col-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}

.col-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}

.col-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.col-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}

.col-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.col-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}

.col-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}

.col-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
}

.col-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
}

.col-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
}

.col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

@media (min-width:576px) {
    .col-sm {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }

    .col-sm-auto {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: 100%;
    }

    .col-sm-1 {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }

    .col-sm-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }

    .col-sm-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-sm-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .col-sm-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }

    .col-sm-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-sm-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }

    .col-sm-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }

    .col-sm-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-sm-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }

    .col-sm-11 {
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }

    .col-sm-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

}

@media (min-width:768px) {
    .col-md {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }

    .col-md-auto {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: 100%;
    }

    .col-md-1 {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }

    .col-md-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }

    .col-md-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-md-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .col-md-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }

    .col-md-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-md-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }

    .col-md-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }

    .col-md-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-md-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }

    .col-md-11 {
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }

    .col-md-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

}

@media (min-width:992px) {
    .col-lg {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }

    .col-lg-auto {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: 100%;
    }

    .col-lg-1 {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }

    .col-lg-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }

    .col-lg-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-lg-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .col-lg-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }

    .col-lg-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-lg-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }

    .col-lg-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }

    .col-lg-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-lg-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }

    .col-lg-11 {
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }

    .col-lg-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

}

@media (min-width:1200px) {
    .col-xl {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }

    .col-xl-auto {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: 100%;
    }

    .col-xl-1 {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }

    .col-xl-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }

    .col-xl-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-xl-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .col-xl-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }

    .col-xl-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-xl-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }

    .col-xl-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }

    .col-xl-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-xl-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }

    .col-xl-11 {
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }

    .col-xl-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

}


.radio-1 .col-lg-6 {
    padding-right: 0 !important;
    padding-left: 0;
}

/*.am-pm .col-lg-4 {
    max-width: 28%;
    padding-left: 13px;
    padding-right: 0px !important;
}
*/
.checkout-text {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 13px;
}

.checkout-text a {
    color: #3B0002;
    text-decoration: none;
}

.form-box-checkout {
    padding: 20px 40px 40px 40px;
}



.things ul {
    padding: 18px;
}

.things ul li {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 15px;
    color: #3B0002;

}

.things h4 {
    font-size: 24px;
    color: #3B0002;
}

.things strong {
    color: #3B0002;
    font-size: 16px;
}

.things .border-green {
    border-left: 5px solid green;
    padding-left: 15px;
}

.things .border-red {
    border-left: 5px solid red;
    padding-left: 15px;
}

.things .heading-premium {
    margin-top: 20px;
}

.things-wrapper {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    padding: 35px 35px 0px 35px;
    border-radius: 6px;
    margin-bottom: 20px;
}

.things-wrapper .good-ul {
    list-style-image: url(Images/badge-check.png);
}

.things-wrapper .bad-ul {
    list-style-image: url(Images/badge-check-red.png);
}

.app-inc {
    background: #3B0002;
    background: url(https://askmeastro.com/wp-content/uploads/2022/05/lp-bg3.jpg) top center;

}

.app-inc-wrapper {
    /*box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);*/
    padding: 30px;
    border-radius: 6px;
    margin-top: 20px;
}

.app-inc-wrapper h5 {
    font-size: 24px;
    color: #fff;
    margin-bottom: 20px;

}

.app-inc-wrapper ul li {
    font-size: 16px;
    line-height: 30px;
    color: #fff;

}

.app-inc-wrapper ul {
    list-style-image: url(Images/star.png);
}


#about {
    margin-top: 40px;
}

#about img {
    border-radius: 6px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16), 0 3px 3px rgba(0, 0, 0, 0.23);
    width: 550px;
}

#about h2 {
    margin-left: 50px;
    font-size: 28px;
    width: 100%;
    margin-top: 10px;
    color: #3B0002;

}

.abt-info {
    font-size: 16px;
    line-height: 20px;
    background: #fff;
    padding: 40px 50px 40px 40px;
    margin-left: -90px;
    margin-top: 30px;
    width: 85%;

}

.country-code
{
     font-size: 14px;
    padding:11px;
    /*border: 1px solid #ced4da;*/
    border-right: 0;
    border-radius: 6px;
    border-right: 1px solid #dee2e6 !important;
}
.number .number-wraper {
    display: flex;
    margin: 0;
}

.number-wraper input {
    display: inline-block;
    border: none;
}

.number-wraper input:focus {
    box-shadow: none;

}

.number-wraper {
    border: 1px solid #ced4da;
    /*padding: 5px;*/
    border-radius: 6px;

}

.number-wraper:focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

.gender-col
{
    padding-right: 0px !important;
        max-width: 38.666667% !important;
}

.gender-col-2
{
    padding-right: 0;
    padding-left: 0;
}

.am-col-1 
{
   max-width: 34% !important;
   padding-right: 0px !important;
}

.pm-col-2 
{
   max-width: 34% !important;
   padding-left: 4px !important;

}

